@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700;1,900&display=swap');
.footer-header{
    background-color: #313946;
    padding: 30px 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
}
.contact-data{
    font-family: 'Merriweather', serif;
}
.contact-data h4{
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.contact-data h4:hover{
    color: #0DA8A6;
}
.contact-data p{
    color: #a7a7a7;
}
.contact-icon svg{
    color: #0DA8A6;
    margin: 10px;
}

/* Footer Body */
.footer-body {
    background: #2A303B;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.footer-logo p{
    color: #b8b8b8;
    font-size: 12px;
    font-family: 'Merriweather', serif;
}
.time-info{
    color: #cccccc;
    margin: 30px 0;
    font-family: 'Merriweather', serif;
}
.time-info th{
    color: #0DA8A6;
}
.time-info table{
    width: 400px;
}
.time-info td{
    padding: 10px;
}
.time-info tr{
    border-bottom: 1px solid #5e5e5e;
}
.services h3{
    color: lightgray;
    font-family: 'Merriweather', serif;
    width: 200px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}
.services i{
    padding-right: 5px;
    color: #0DA8A6;
}
.services li{
    color: #acacac;
    margin-top: 10px;
    font-family: 'Merriweather', serif;
}
.contact-details h3{
    padding-bottom: 10px;
    color: lightgray;
    width: 220px;
    font-family: 'Merriweather', serif;
    border-bottom: 1px solid white;
}
.contact-details i{
    padding-right: 5px;
    color: #0DA8A6;
}
.contact-details p{
    color: #acacac;
}

/* End Of the Footer */
.footer-end{
    background: #1aaaa8;
    padding: 30px 20px;
    text-align: center;
}
.social-icon{
    margin: 10px 0;
}
.social-icon i{
    margin: 10px 10px;
    padding: 20px;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.social-icon i:hover{
    color: white;
}
/* Responsive area for mobile and tab */

@media only screen and (max-width: 600px){
    .footer-header{
        grid-template-columns: repeat(1, 1fr);
    }
    .contact-data h4{
        font-size: 18px;
    }
    .contact-icon svg{
        margin: 5px;
    }
    .footer-body{
        grid-template-columns: repeat(1,1fr);
    }
    .time-info table{
        width: 200px;
    }
    .services h3{
        font-size: 18px;
        width: 100px;
    }
    .contact-details h3{
        margin-top: 18pxpx;
        width: 120px;
        font-size: 20px;
    }
}
@media only screen and (min-width: 601px) and (max-width : 850px){
    .footer-header{
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-body{
        grid-template-columns: repeat(1,1fr);
    }
    .time-info table{
        width: 400px;
    }
    .services h3{
        font-size: 22px;
        width: 150px;
    }
    .contact-details h3{
        margin-top: 20px;
        width: 180px;
        font-size: 22px;
    }
}