@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700;1,900&display=swap');
.details-container{
    margin: 50px;
    font-family: 'Merriweather', serif;
}
.details-container h1{
    margin: 15px;
}
.details-container p{
    color: gray;
}