@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700;1,900&display=swap');
.logo-name{
    color: #fff !important;
    font-family: 'Merriweather', serif;
    letter-spacing: 0.1em;
    font-weight: 700;
    text-transform: uppercase;
    
}
.logo-name small{
    color: #f36438 !important;
   

}
.navbar-container{
    background-color: #0DA8A6;
}
.menu-items a{
    text-decoration: none;
    margin: 10px 15px;
    color: #fff !important;
    font-family: 'Merriweather', serif;
    letter-spacing: 0.1em;
    font-weight: 600;
    transition: 0.3s;
}
.menu-items a:hover{
    padding-bottom: 5px;
    border-bottom: 3px solid #2A303B;
}
.menu-items button{
    margin: 10px 15px;
    background: #2A303B;
    color: white;
    font-family: 'Merriweather', serif;
    padding: 5px 10px;
    font-weight: 500;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    border: 1px solid white;
}
.menu-items button:hover{
    background: white;
    color: #2A303B;
    border: 1px solid #2A303B;
}
.renponsive-user{
    display: none;
}
.user-img{
    width: 35px;
    height: 35px;
    border-radius: 25px;
    margin: 8px 15px;
}
.empty-user{
    border: 1px solid #2A303B;
    width: 30px;
    padding: 3px;
    border-radius: 15px;
    margin: 8px 10px;
    background: white;
}
.user-name{
    font-weight: 600;
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 14px;
}

@media only screen and (max-width: 600px){
    .menu-items{
        display: block;
    }

    .menu-items a{
        display: block;
    }
}
@media only screen and (max-width: 990px){
    .renponsive-user{
        display: block;
    }
    .regular-img{
        display: none;
    }
    .renponsive-user img{
        margin-right: 0px;
        
    }   
}