@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700;1,900&display=swap');
.doctors-container{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 0 !important;
}
.doctors-details{
    background-color: #2A303B;
    padding: 20px 30px 20px 50px;
    font-family: 'Merriweather', serif;
}
.doctor-info{
    margin-bottom: 30px;
    border-bottom: 1px solid gray;
}
.doctor-info h5{
    color: #0DA8A6;
    font-size: 18px;
    font-weight: 600;
}
.doctor-info span{
    color: #f36438;
}
.doctor-info p{
    color: lightgray;
    font-size: 12px;
}

/* Doctor schedual */
.doctors-schedule{
    background-color: lightgray;
    margin-right: 0;
    font-family: 'Merriweather', serif;
}
.doctors-schedule table th{
    border: 2px solid gray;
    background-color: #2A303B;
    padding: 10px;
    font-family: 'Merriweather', serif;
    color: lightgray;
} 
.doctors-schedule table td{
    border: 2px solid gray;
    color: black;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}
@media only screen and (max-width: 820px){
    .doctors-container{
        display: block;
    }
    .doctors-schedule table td{
        padding: 5px;
    }

}
